* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  text-align: none;
  background-image: url(../images/parchment2.1.jpg);
}

/* Nav Bar */
nav {
  border-top: 3px solid #222120;
  border-bottom: 3px solid #222120;
  border-width: 0.2rem;
  position: fixed;
  z-index: 10;
  top: 0.2rem;
  width: 100%;
  background-image: url(../images/The-Dead-Sea-Scrolls.jpg);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: flex;
  padding-inline: 3rem;
  text-decoration: none;
  color:  #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}
.sub-menu-items {
  display: none;
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-menu:hover .sub-menu-items {
  display: block;
}

.sub-menu-items li {
  display: block;
  margin-bottom: 5px;
}

.sub-menu-items a {
  display: block;
  color: #333;
  text-decoration: none;
}

.sub-menu-items a:hover {
  text-decoration: underline;
}

nav a:hover {
  color: #a1270b;
}

nav span {
  color: #eccd98;
  font-weight: 900;
  text-shadow: -1px 0 #b6ab8f, 0 1px #b6ab8f, 1px 0 #b6ab8f, 0 -1px #b6ab8f;
}
/*-------*/

/* .shabbatpage {
  display: none;
}

.fathermotherpage {
  display: none;
} */

.container {
  position: relative;
  /* border: 1px solid rgb(206, 17, 149); */
}

.top-of-page {
  margin-top: 6rem;
  /* border: 1px solid rgb(30, 241, 241); */
}

.title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-bottom: 30px;
  color: #000000;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  /* border: 1px solid rgb(155, 165, 14); */
}

.headingShabbat {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
  /* border: 1px solid rgb(14, 165, 39); */
}

.btn-group {
  display: flex;
  position: absolute;
  top: 105%;
  left: 0%;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: center;
}

.Shabbat-API-Container {
  display: flex;
  position: absolute;
  top: 44%;
  width: 100%;
}

.btnTabernacle, .btnNoAsherim, .btnShabbat, .btnLocateCitiesOfRefuge, .btnDontSteal {
  display: flex;
  position: absolute;
  background-color: #93a5a5;
}

.shabbat-category-box{
  display: flex;
  position: relative;
  top: 40px;
}

.calendar-button, .do-not-work-button, .btnFatherMother, .btnOldMan, .btnCursed {
  font-size: 24px;
  padding: 10px 30px;
}

 .dropdown-menu, .side-menu {
  display: none;
  background: none;
  border: none;
 }

 .dropdown-menu > ul > li, .side-menu > ul > li {
  list-style-type: none;
  color: #000000;
  font-weight: 500;
 }

 .dropdown-menu {
  left: 23px;
 }

 .side-menu {
  position: absolute;
  top: 119%;
  left: 181px;
 }

.displayResults {
  position: absolute;
  top: 240px;
  left: 208px;
}

/* .mapResults {
  display: none;
} */

img {
  width: 105px;
}

.display-API-Image {
  width: 130px;
  position: absolute;
  left: 0px;
  top: 195px;
}

.API-Display-Title {
  position: absolute;
  left: 0px;
  top: 350px;
  font-size: 26px;
  color: red;
}

.API-Display {
  width: 90%;
  position: absolute;
  left: 0px;
  top: 400px;
  text-wrap: balance;
  font-weight: 600;
}

.miscResults {
  position: absolute;
  top: 240px;
  left: 208px;
}