* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  text-align: none;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
}

.displayResults {
  position: absolute;
  top: 240px;
  left: 208px;
}

.shabbat-category-box {
  position: absolute;
  top: 40px;
}


img {
  width: 105px;
}

.display-API-Image {
  width: 130px;
  position: absolute;
  left: 0px;
  top: 264px;
}

.API-Display-Title {
  position: absolute;
  left: 0px;
  top: 350px;
  font-size: 26px;
  color: red;
}

.API-Display {
  width: 90%;
  position: absolute;
  left: 0px;
  top: 400px;
  text-wrap: balance;
}

.miscResults {
  position: absolute;
  top: 240px;
  left: 208px;
}



.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar-button {
  font-size: 24px;
  padding: 10px 30px;
}

.do-not-work-button {
  font-size: 24px;
  padding: 10px 30px;
}
 .dropdown-menu, .side-menu {
  display: none;
 }

<<<<<<< HEAD
nav {
  border-top: 3px solid #222120;
  border-bottom: 3px solid #222120;
  border-width: 0.2rem;
  position: fixed;
  z-index: 10;
  top: 0.2rem;
  width: 100%;
  background-color:#1b86de;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
}

nav a {
  display: flex;
  padding-inline: 3rem;
  text-decoration: none;
  color:  #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.sub-menu-items {
  display: none;
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-menu:hover .sub-menu-items {
  display: block;
}

.sub-menu-items li {
  display: block;
  margin-bottom: 5px;
}

.sub-menu-items a {
  display: block;
  color: #333;
  text-decoration: none;
}

.sub-menu-items a:hover {
  text-decoration: underline;
}

nav a:hover {
  color: #a1270b;
}

nav span {
  color: #eccd98;
  font-weight: 900;
  text-shadow: -1px 0 #b6ab8f, 0 1px #b6ab8f, 1px 0 #b6ab8f, 0 -1px #b6ab8f;
}
=======
 .side-menu {
  position: absolute;
  top: 100%;
  left: 240px;
 }
>>>>>>> ca2753b4f5d181aa2a1bf2d6f42f4da8c0ab584e

