* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  text-align: none;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
}

.displayResults {
  position: absolute;
  top: 29px;
  left: -16px;
}

.shabbat-catergory-box {
  position: absolute;
  top: 40px;
}


img {
  width: 105px;
}

.display-API-Image {
  width: 130px;
  position: absolute;
  left: 0px;
  top: 264px;
}

.API-Display-Title {
  position: absolute;
  left: 0px;
  top: 350px;
  font-size: 26px;
  color: red;
}

.API-Display {
  width: 90%;
  position: absolute;
  left: 0px;
  top: 400px;
  text-wrap: balance;
}




.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar-button {
  font-size: 24px;
  padding: 10px 30px;
}

.do-not-work-button {
  font-size: 24px;
  padding: 10px 30px;
}


